numpy<1.19.0, >=1.16.0
dm-acme
dm-reverb
tf
# tfp-nightly
tensorflow-probability
dm-sonnet
trfl
jax
jaxlib
dm-haiku
optax
# rlax @ git+git://github.com/deepmind/rlax.git#egg=rlax
# rlax @ git+git://github.com/deepmind/rlax.git
dataclasses
# bsuite @ git+git://github.com/deepmind/bsuite.git#egg=bsuite
dm-control
gym
gym[atari]
